:root {
    --text-color-base: #fff;
    --text-color-muted: #797979;
    --text-color-pink: #FF2FB8;
    --border-color-base: #303030;
}

body {
    background: #191919;
    color: var(--text-color-base);
    font-family: 'Work Sans', sans-serif;
}

#navbar img {
    width: 63px;
    height: 34px;
}

#navbar a {
    color: var(--text-color-muted);
}

#navbar a.active {
    color: var(--text-color-pink);
}

.btn-custom {
    border: solid 1px white;
    padding: 0.5rem 1rem;
    color: var(--text-color-base) !important;
    background: transparent;
    width: fit-content;
}

#hero {
    background: url("../images/bg-landing.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-top: -61px;
    padding-top: 61px;
}

#hero img {
    width: 100%;
}

#hero p {
    font-size: 40px;
}

#hero #arrow {
    bottom: 0;
    color: var(--text-color-muted);
    cursor: default;
}

#introduction #hello {
    font-size: 32px;
    font-weight: 600;
}

#introduction #hello span {
    flex-shrink: 0;
}

#introduction hr {
    border-color: var(--border-color-base);
}

#introduction #detail {
    color: #797979;
    font-size: 26px;
}

#introduction #more {
    height: 116px;
    aspect-ratio: 1/1;
    bottom: -4rem;
    left: -1rem;
    rotate: 24deg;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #hero {
        height: 908px;
    }

    #hero img {
        width: 645px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #introduction #more {
        bottom: -1rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #introduction #more {
        bottom: -4rem;
    }
}